@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
}

ul {
  margin-bottom: 0;
}

.row, .col, .col-sm, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-8, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-lg, .container-fluid,
h1, h2, h3, h4, h5, h6, p {
  margin: 0 !important;
  padding: 0 !important;
}

.row {
  justify-content: center;
}

body {
  background-color: #001212;
  overflow-x: hidden;
  font-family: DM Sans, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.premium-line {
  font-size: 16px;
  font-weight: 500;
  color: #00FFFE;
}

.highlight {
  color: #00FFFE;
}

.bold {
  font-weight: 600;
}

p {
  color: #333333;
  font-size: 16px;
}

.section-heading {
  font-size: 30px;
  font-weight: 700;
  color: black;
  line-height: 62px;
}

.btn-primary {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 24px;
  border-radius: 100px;
  border: 1px #00FFFE solid;
  background-image: linear-gradient(to right, #00FFFE, #00FFFE);
  color: #001212;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.4s;
}

.btn-outline {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 24px;
  border-radius: 100px;
  border: 1px #00FFFE solid;
  background-color: transparent;
  color: #00FFFE;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.4s;
}

.btn-primary:hover, .btn-outline:hover {
  position: relative;
  transform: translateY(-3px);
  background-image: linear-gradient(to right, #00FFFE, #c900f1);
  color: white;
  border-color: #00FFFE;
}

div.header-div {
  position: relative;
  top: 0;
  z-index: 999;
}

.title-col {
  margin-bottom: 50px !important;
  text-align: center;
}
.title-col h6 {
  color: #00FFFE;
}
.title-col p {
  font-size: 24px;
  font-weight: 300;
}

header {
  padding: 10px 50px;
}

header nav {
  background-color: transparent;
  position: relative;
  top: 0;
  max-width: 1400px;
  margin: auto;
  z-index: 1000;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
  padding: 10px 0;
}
header nav div.brand-logo a img {
  display: block;
  height: auto;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: white;
}
header nav ul li a {
  color: white;
  display: block;
  padding: 3px 5px;
  border-radius: 5px;
}
header nav ul li a.nav-btn {
  background-color: white;
  color: #00FFFE;
  padding: 10px 15px;
  border-radius: 50px;
}
header nav ul li a:hover {
  background-color: #c900f1;
  background-image: linear-gradient(to bottom right, #00FFFE, #c900f1);
}
header nav div.menu-btn {
  display: none;
  cursor: pointer;
}
header nav div.menu-btn .menu-bar {
  background-color: white;
  width: 20px;
  height: 2px;
  margin: 5px 0;
}

.nav-tab-gradient {
  background-image: linear-gradient(to bottom right, #00FFFE, #c900f1);
}

.home-hero-section {
  background-color: #001212;
  color: white;
  padding: 20px 50px;
  padding-bottom: 0;
}
.home-hero-section .row {
  max-width: 1400px;
  margin: auto !important;
  border-radius: 100px 100px 0 0;
  background-color: rgba(0, 255, 254, 0.2);
  padding: 50px !important;
  padding-bottom: 170px !important;
  box-shadow: 0px 0 40px #00FFFE inset;
}
.home-hero-section p {
  color: white;
  margin: 25px 0 45px !important;
}
.home-hero-section .intro-col {
  display: flex;
  justify-content: start;
  align-items: center;
}
.home-hero-section .intro-col h3 {
  font-size: 26px;
  font-weight: 700;
}
.home-hero-section .intro-col h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 7px 0 !important;
}
.home-hero-section .social a {
  color: #fff;
}
.home-hero-section .social a i {
  font-size: 20px;
}
.home-hero-section .social a:hover {
  color: #c900f1;
}
.home-hero-section .basic-btn-div {
  display: flex;
  justify-content: start;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 20px;
}
.home-hero-section .basic-btn-div a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-hero-section .basic-btn-div a i {
  font-size: 20px;
  margin-right: 10px;
}
.home-hero-section .home-hero-col {
  padding-left: 20px !important;
}
.home-hero-section .home-hero-col img {
  width: 100%;
  height: auto;
}

.expertise-section {
  padding: 50px;
  padding-top: 0;
  border-radius: 100px;
  position: relative;
  margin-top: -100px;
}
.expertise-section .row {
  max-width: 1400px;
  margin: auto !important;
  background: linear-gradient(106deg, #81FEFE 2.37%, #D197F9 100%);
  border-radius: 100px;
  padding: 50px !important;
}
.expertise-section h1 {
  color: #001212;
  font-weight: 700;
}
.expertise-section p {
  margin: 20px 0 !important;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px !important;
  border-radius: 5px;
  border: 1px #00FFFE solid;
  background-color: rgba(0, 255, 254, 0.2);
  color: #001212;
  box-shadow: 0px 0px 10px #aaaaaa;
  transition: all 0.4s;
}
.expertise-section p:hover {
  background-image: linear-gradient(to bottom right, #00FFFE, #c900f1);
  box-shadow: 7px 7px 20px #646464;
  color: white;
  position: relative;
  transform: translateY(-3px);
  cursor: default;
}
.expertise-section .exp-img {
  padding: 0;
}
.expertise-section .exp-img img {
  width: 100%;
}

.about-hero-section .intro-col {
  text-align: center;
}
.about-hero-section .intro-col .intro-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-hero-section .intro-col .basic-btn-div {
  justify-content: center;
}
.about-hero-section .skill-circles {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 50px;
  margin-top: 100px !important;
  text-align: center;
}
.about-hero-section .skill-circles img {
  width: 10vw;
}

.about-experience-section p {
  background-color: rgba(0, 255, 254, 0);
  border: none;
  box-shadow: none;
  margin: 0 !important;
  padding: 5px 10px !important;
}
.about-experience-section .exp-text {
  display: flex;
  justify-content: start;
  margin: 10px 0;
}
.about-experience-section .line-wrap {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 5px 0;
  margin-right: 10px;
}
.about-experience-section .exp-line {
  height: 80%;
  width: 5px;
  margin: auto;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #c900f1, #00bebe);
}

.education-lang-section {
  padding: 30px 20px 50px;
}
.education-lang-section .row {
  max-width: 1400px;
  margin: auto !important;
  gap: 30px;
}
.education-lang-section .edu-lang-col {
  flex-grow: 1;
  background: linear-gradient(105deg, rgba(0, 255, 254, 0.5) 2.76%, rgba(201, 0, 241, 0.5) 116.45%);
  padding: 10px !important;
  padding-bottom: 20px !important;
  border-radius: 20px;
  color: white;
}
.education-lang-section .edu-lang-col h3 {
  color: #00FFFE;
  margin-bottom: 20px !important;
  font-weight: 600;
}
.education-lang-section .edu-lang-col p {
  color: white;
}
.education-lang-section .edu-lang-col img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin-bottom: 30px;
}

.contact-hero-section .row {
  gap: 30px;
  border-radius: 100px;
}
.contact-hero-section .intro-wrap {
  align-items: start !important;
  text-align: left;
}
.contact-hero-section .contact-col {
  flex-grow: 1;
}
.contact-hero-section .contact-col img {
  width: 100%;
}
.contact-hero-section .contact-tex {
  text-align: left !important;
}
.contact-hero-section p {
  margin-bottom: 20px !important;
}
.contact-hero-section .call {
  color: white;
  text-decoration: none;
  margin: 30px 0 10px;
}
.contact-hero-section .call i {
  margin-right: 10px;
}

.footer {
  min-height: 70vh;
  background-color: #4DFFFE;
  position: relative;
  padding: 50px 100px;
  width: 100%;
  overflow-x: hidden;
  color: #001212;
}
.footer img.fade-logo {
  position: absolute;
  z-index: 1;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.footer .row {
  position: relative;
  z-index: 2;
  max-width: 1400px;
  justify-content: space-between;
  margin: auto !important;
  gap: 20px;
}
.footer .footer-col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: left;
  gap: 20px;
}
.footer .footer-col .footer-icon-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
}
.footer .footer-col .footer-icon-div a {
  color: #001212;
}
.footer .footer-col .footer-icon-div a i {
  margin-right: 10px;
}
.footer .footer-col .footer-icon-div a:hover {
  color: #c900f1;
}
.footer .footer-col h1 {
  font-size: 40px;
  font-weight: 700;
}
.footer .footer-col div.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer .footer-col div.social-icons img {
  border-radius: 16px;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .footer-col .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: left;
  gap: 15px;
}
.footer .footer-policy-col div.footer-line {
  height: 1px;
  width: 100%;
  margin: 30px 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.footer .footer-policy-col h5 {
  margin-bottom: 10px !important;
}

@media (min-width: 1060px) {
  .service-section {
    padding: 100px 50px !important;
  }
  .service-section .row {
    justify-content: space-between;
  }
}
@media (max-width: 1300px) {
  .about-hero-section .skill-circles img {
    width: 15vw;
  }
}
@media (max-width: 991px) {
  .about-hero-section .skill-circles img {
    width: 20vw;
  }
  .footer .row {
    gap: 50px;
  }
}
@media (max-width: 900px) {
  header nav div.menu-btn {
    display: block;
  }
  header nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #00FFFE;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    gap: 0px;
    padding: 20px;
    height: calc(100vh - 70px);
  }
  header nav ul li {
    display: block;
    width: 100%;
  }
  header nav ul li a {
    text-align: center;
    border-bottom: 1px #00FFFE solid;
    padding: 20px;
  }
  header nav ul li a.nav-btn {
    padding: 20px;
    border-bottom: none;
  }
  header nav ul li:nth-last-child(2) a {
    border-bottom: none;
  }
  header nav ul.hide {
    display: none;
  }
  .contact-form-section .row {
    justify-content: center !important;
  }
}
@media (max-width: 840px) {
  .footer img.fade-logo {
    width: 100%;
    height: auto;
  }
  .home-hero-section {
    padding: 20px;
    padding-bottom: 0;
  }
  .expertise-section {
    padding: 20px;
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .home-hero-section .row {
    flex-flow: column-reverse;
  }
  .about-hero-section .row {
    flex-flow: column;
  }
}
@media (max-width: 571px) {
  header {
    padding: 10px 20px;
  }
  header nav {
    justify-content: space-between;
  }
  .why-choose-section .why-col-1 img {
    max-width: 100%;
    max-height: 449px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .testimonial-section .slider-container {
    max-width: 250px;
  }
  .testimonial-section .card {
    width: 236px;
  }
  .testimonial-section .prev-btn {
    left: -10px;
  }
  .testimonial-section .next-btn {
    right: -10px;
  }
  .basic-btn-div {
    display: flex;
    justify-content: start;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    gap: 10px;
  }
  .basic-btn-div a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    font-size: 14px;
  }
  .basic-btn-div a i {
    font-size: 20px;
    margin-right: 10px;
  }
  .home-hero-section {
    padding-top: 50px;
  }
  .home-hero-section .row {
    max-width: 1400px;
    margin: auto !important;
    padding: 20px !important;
    border-radius: 50px 50px 0 0;
    padding-bottom: 150px !important;
  }
  .home-hero-section p {
    margin: 25px 0 45px !important;
  }
  .home-hero-section .intro-col {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .home-hero-section .intro-col h3 {
    font-size: 26px;
    font-weight: 700;
  }
  .home-hero-section .intro-col h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 7px 0 !important;
  }
  .home-hero-section .social a {
    color: #fff;
  }
  .home-hero-section .social a i {
    font-size: 20px;
  }
  .home-hero-section .social a:hover {
    color: #c900f1;
  }
  .home-hero-section .basic-btn-div {
    display: flex;
    justify-content: start;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    gap: 20px;
  }
  .home-hero-section .basic-btn-div a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-hero-section .basic-btn-div a i {
    font-size: 20px;
    margin-right: 10px;
  }
  .home-hero-section .home-hero-col img {
    width: 100%;
    height: auto;
  }
  .expertise-section .row {
    max-width: 1400px;
    margin: auto !important;
    border-radius: 50px;
    padding: 20px !important;
  }
  .expertise-section .row .col-md-6 {
    padding: 0 !important;
  }
  .expertise-section h1 {
    font-weight: 700;
  }
  .expertise-section p {
    margin: 20px 0 !important;
    width: auto;
    padding: 10px !important;
    border-radius: 5px;
    color: #001212;
    box-shadow: 0px 0px 10px #aaaaaa;
    transition: all 0.4s;
  }
  .expertise-section p:hover {
    background-image: linear-gradient(to bottom right, #00FFFE, #c900f1);
    box-shadow: 7px 7px 20px #646464;
    color: white;
    position: relative;
    transform: translateY(-3px);
    cursor: default;
  }
  .expertise-section .exp-img {
    padding: 0;
  }
  .expertise-section .exp-img img {
    width: 100%;
  }
  .about-hero-section .row {
    padding-bottom: 150px !important;
  }
  .about-hero-section .skill-circles {
    gap: 20px;
  }
  .about-hero-section .skill-circles img {
    width: 20vw;
  }
  .about-hero-section .basic-btn-div {
    gap: 10px;
  }
  .about-experience-section .row {
    border-radius: 50px;
    padding: 50px 10px !important;
  }
  .footer {
    padding: 20px;
  }
}/*# sourceMappingURL=style.css.map */

.active-link {
    background-color: #c900f1;
    background-image: linear-gradient(to bottom right, #00FFFE, #c900f1);
}
